.hero-section {
  .container {
    margin-top: 30vh;
    max-width: 600px;
    .skills-container {
      display: grid;
      gap: 0.65em;
      grid-auto-rows: auto;
      grid-template-columns: repeat(auto-fit, 8em);
      justify-content: center;
      .skill {
        padding: .75em 1em;
        background-color: $card-bg;
        transition: 0.8s ease;
        img{
            height: 100px;
        }
      }
      .skill:hover,
      .skill:focus{
        cursor: pointer;
        transform: scale(1.15);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .hero-section{
    .container{
      margin-top: 0;
    }
  }
}
